* {
    margin: 0;
    padding: 0;   
}

:root {
    --blue: #c1ccd3;
}
body {
    background-image: url(img/leaves.png);
    font-family: 'Abel' ,sans-serif;
}
#container {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid red; */
    justify-content: center;
    align-items: center;
}
#header {
    display:flex;
    flex:1;
    justify-content: center;
    text-align: center;
    border-radius: 0.3rem;
    filter: blur(0.2px);
}
#header h1 {
    font-size: 4.5rem;
    font-family: 'Abel' , sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 1px 4px #545454a6;
    color: #555;
    letter-spacing: 0.25rem;
}
.nav{
    width: 100%;
    position: -webkit-sticky;
    position: sticky; 
    top: 0;
    left: 0;
}
.nav ul {
    display: grid;
    height: 2rem;
    align-items: center;
    grid-template-columns:repeat(7,1fr);
    list-style-type: none;
    text-align: center;
    border: 1px solid #666;
    background-color: #555;
}
.navbar{
    display: grid;
    align-items: center;
    height: 100%;
    color: #fff;
    text-decoration: none;
    border-right: 2px dotted #eee;
}
.nav  li {
    text-decoration: none;
   
}
.navbar:hover {
    background-color: #444;
}
#content {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 0;
    background: white;
    border-right: 2px solid #eee;
    border-left: 2px solid #eee;
    text-align: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
}
.box {
    margin: 5rem 0.5rem 0 0.5rem;
    width: 30%;
    /* border: solid 1px blue; */
    box-sizing: border-box;
    font-size: 1rem;
}

.box1 {
    text-align: center;
}
.box2 {
    padding: 2.5rem;
    padding-bottom: 0;
    align-self: flex-end;
    text-align: justify;
    color: #222;
}
.parbox2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.text2 {
    font-size: 0.8rem;
}
.nag2 {
    font-family: 'Abel ' ,sans-serif;
    color: #222;
    font-size: 2rem;
}
.box3 {
    display: flex;
    flex-flow: wrap;
    padding: 2rem;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    /* background: #3b5998; */
    background: #565656;
    border-radius: 20%;
    
}
.box3 h3 {
    font-size: 2rem;
    display:flex;
    justify-self: center;
    color: #efefef;
}
.box3 p {
    text-align: justify;
    color: #fff;
}
.box4 {
    border-top: 2px dotted gray;
    padding-top: 2rem;
    margin-top: 3rem;
    width: 100%;
}
#portfolio {
    display: grid;
    grid-gap: 2rem;
    grid-template: 1fr / 1fr 1fr 1fr;

}
.pf {
    width: 30%;
    height: 50%;
}
.foto {
    width: 90%;
    height: 90%;
    border-radius: 30%;
}
.box5 {
    width: 100%;
    padding: 1rem;

}
#footer{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
    background-image: url(img/footer_lodyas.png);
    bottom: 0;
    border-top: 2px solid #666;
    padding: 0.2rem;
}
.social {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 1rem; 
}
.end {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: baseline;
    align-content: center;
    color: white;
    font-size: 1.25rem;  
}
.socialicon {
    font-size: 1.7rem;
    transition: transform 0.4s ease-in-out; 
}
.socialicon:hover {
    transform: scale(1.5,1.5);

}
.social a {
    color:white;

}
.end > h2 {
    display: block;
    font-size: 1.5rem;
}
.end > p {
    font-size: 1.1rem;
}
::selection {
   color: #e9e51bee;
   background-color: #3452fc;
}
