
.icon-github:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */