* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Play', sans-serif;
    color: rgba(74, 74, 74, 1);
    background-color: rgba(74, 74, 74, 1);
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.container {
    margin-left: 10%;
    margin-right: 10%; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content {
    height: 25rem;
    width: 40rem;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px 5px rgba(46, 46, 46, 1);
}

.box1 {
    border: 0.2rem solid rgba(194, 194, 194, 0.25);
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}


.logo {
    /*border: 0.2rem solid red;*/
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.name {
    width: 50%;
    height: 90%;
    color: rgba(96, 96, 96, 1);
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: 0.05em;
    text-align: center;
    border: 0.15rem solid rgba(96, 96, 96, 1);
    padding: 0.4rem;
    margin-top: 3%;
}

.box2 {
    /*border: 0.2rem solid red;*/
    height: 75%;
    width: 85%;
    display: flex;
   
}

.foto {
    /*border: 0.2rem solid red;*/
    width: 59%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    /*border: 0.2rem solid red;*/
    width: 90%;
    height: 60%;
    background-image: url(pic.jpg);
    background-size: cover;
    box-shadow: 0px 0px 10px 3px rgba(194, 194, 194, 1);
}

.about {
    /*border: 0.2rem solid red;*/
    width: 41%;
    text-align: justify;
    display: flex;
    align-items: center;
}

.text {
    /*border: 0.2rem solid red;*/
    height: 50%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.9rem;               
}

.social {
    /*border: 0.2rem solid red;*/
    /*border-left: 0.2rem solid rgba(194, 194, 194, 1);*/
    height: 75%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.soc {
    /*border: 0.2rem solid red;*/
    border-left: 0.1rem solid rgba(194, 194, 194, 0.5);
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.fb {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 0.2rem solid red;*/
}

.git {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 0.2rem solid red;*/
}

.insta {
    height: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 0.2rem solid red;*/
}

.icon {
    padding: 0.2rem;
    transition: 0.5s;
}

.icon:hover {
    background-color: rgba(183, 183, 183, 0.8);
    color: rgba(255, 255, 255, 1);
}

.link {
    color: rgba(183, 183, 183, 1);
}

.footer {
    /*border: 0.2rem solid red;*/
    height: 10%;
    width: 100%;
    font-size: 0.7rem;
    color: rgba(183, 183, 183, 1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: flex-end;
}

@media all and (max-width: 648px) {
    .name {
        font-size: 1.2rem;
        padding: 0.6rem;
    }
    
}