* {
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Play', sans-serif;
   color: #fff;
   background-color: rgba(74, 74, 74, 1);
   background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
   /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
   width: 27rem;
   height: 5rem;
   font-weight: 700;
   font-size: 3rem;
   letter-spacing: 0.05em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   border: 0.1rem solid rgba(194, 194, 194, 1);
   padding: 0.5rem;
   transition: 0.5s;
   
}

.logo:hover {
   cursor: pointer;
   transform: scale(1.05);
}

.letsgo {
   font-size: 0.3em;
   text-align: center;
   padding-top: 0.3em;
   font-weight: 400;
   letter-spacing: normal;
   opacity: 0;
   transition: 1.5s;
   position: absolute;
   top: 6rem;
}

.logo:hover .letsgo {
   opacity: 1;
}

.link {
   color: rgba(255, 255, 255, 1);
   text-decoration: none;
}

.w:hover {
  color: rgba(194, 194, 194, 1); 
}

/*
.e:hover {
  color: rgba(239, 43, 134, 1); 
}
.r:hover {
  color: rgba(209, 7, 255, 1); 
}
.o:hover {
  color: rgba(239, 173, 31, 1); 
}
.n:hover {
  color: rgba(71, 232, 247, 1); 
}
.i:hover {
  color: rgba(91, 76, 255, 1); 
}
.k:hover {
  color: rgba(239, 173, 31, 1); 
}
.a:hover {
  color: rgba(209, 7, 255, 1); 
}
.p:hover {
  color: rgba(239, 43, 134, 1); 
}
.t:hover {
  color: rgba(71, 232, 247, 1); 
}
*/
