/*plik zawiera ustawienia stylów dla tła stron i body*/
html{
  --borderColor: rgb(141, 52, 30);
  --contentColor: rgba(255, 254, 254, 0.788);
  --contentColorLight: rgba(255, 254, 254, 0.5);
  --white: rgb(255, 254, 254);
  --brownLight: rgba(168, 94, 64, 0.85);
  --black: rgb(0,0,0);
  --lightBlack: rgb(73, 70, 70);
  --bg1: rgb(250, 247, 212);
  --bg2: rgb(160, 107, 82);
  --bg3: rgb(129, 66, 37);
}
body{
	margin: 0px;
    padding: 0px;
    background: var(--bg1);
    font-family: 'News Cycle', sans-serif;
    box-sizing: border-box;   
}
/*ustawienia tła*/
.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--bg2) 50%, var(--bg3) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
} 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:7s;
}  
.bg3 {
    animation-duration:8s;
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }