/*plik zawiera ustawienia stylów dla strny głównej (mainPage.html)*/
html{   
  font-size: 30px;
}
.pageContent{
    padding: 7vh 5vw;
    display: flex;
    justify-content: flex-end;
}
/*stylizacja boxa z ikonami przenoszącymi na strony social media, git i pobierająca cv*/
.contact{
    position: fixed;
    left: 2.5vw;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact>div {
    background-color: var(--contentColor);
    border-radius: 10px 10px;
    margin: 1vw;
    transition: background-color 0.8s ease-out;
    transition: margin 2s ease-in-out;
    border: var(--borderColor) solid 1px;
}
.contact a{
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
}
.contact>div i{
    font-size: 8.5vh;
}
.contact>div p{
    font-size: 4vh;
    display: none;
    margin: 0 10px; 
}
/*zmiany zachodzące przy najeżdżaniu na ikony kontaktowe*/
.contact>div>a:hover p{
    display: flex;
}
.contact>div:hover{
    background-color:var(--borderColor);
}
/*ustawienia kontenera zawierającego przywitanie i informacje*/
.container{
    display: grid;
    height: 90%;
    width: 80vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 2fr 2fr;
    grid-gap: 20px;
}
.container>div{
    background-color: var(--contentColor);
    border-radius: 10px 10px;
    border: var(--borderColor) solid 1px;
}
/*grid z przywitaniem i ze zdjęciem*/
.welcome {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 4% 3% 1%;
}
.welcome .hello {
    flex: 4;
    background-color: var(--contentColorLight);
    border-radius: 10px 10px;
    margin-right: 3%;
    margin-left:3%;
    padding: 2%;
    border: var(--borderColor) dotted; 
    text-align: center;
}
h1{
    font-size: 1.5rem;
}

.welcome .photo{
    flex: 3;
}
.welcome .myPhoto{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
/*kafelki z podstawowymi informacjami*/
.house{
    background: url("images/home.png") no-repeat center /contain;
}
.education{
    background: url("images/education.png") no-repeat center /contain;
}
.food{
    background: url("images/heart-with-bite.png") no-repeat center /contain;
}
.music{
    background: url("images/headphones.png") no-repeat center /contain;
}
.addiction{
    background: url("images/computer.png") no-repeat center /contain;
}
.work{
    background: url("images/work.png") no-repeat center /contain;
}
.info{
    height: 100%;
}
.info div{
    opacity: 0;
    font-size: 1.2rem;
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
    border-radius: 10px 10px;
    display: flex;
    margin 0;
    padding: 4%;
    text-align: center;
    align-items: center;
    background-color: var(--contentColor);
    transition: opacity 1s ease-in-out;
}
/*pojawianie się  informacji po najechaniu na kafelek*/
.info div:hover{
    opacity: 1;
}
/*responsywność strony*/
@media only screen and (max-width:660px), (orientation: portrait), (max-aspect-ratio:803/511){
    .pageContent {
        flex-direction: column;
        align-items: center;
    }
    .contact{
        position: static;
        flex-direction: row-reverse;
        transform: translate(0, 0);
        justify-content: flex-end;
        width: 80vw;
    }
    .contact>div {
        margin: 2px;
    }
    .contact>div i{
        font-size: 5vw;
    }
    .contact>div p{
        font-size: 3.9vw;
        display: none;
        margin: 0 10px; 
    }
    .container{
        display: flex;
        height: 90%;
        flex-direction: column;
        font-size: 20px;     
    }
    .welcome{
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }
    div.hello{
        margin 1px;
    }
    .welcome .photo{
        width: 50vw;
    }
    .info{ 
        height: 200px;
}