/*---------------------------------------------------------body -general settings -----------------------------------------------------*/

body
{
    background-color: white; 
    text-align: center;
    padding: 2em; 
}

/*---------------------------------------------------------- main - box ---------------------------------------------------------------*/

.border
{
position: relative;
height: 100%;
width: 100%%;
background-color: white;
border: 5px solid mistyrose;
margin: 40px;
box-sizing: border-box;
top:0px;
}

/*-------------------------------------------------------------profile photo-----------------------------------------------------------*/

.photo{
    position: absolute;
    z-index: 3;
    width: 174px;
    height: 174px;
    border: 5px solid white;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
    background-image: url(images/face1.jpg);
    background-position: center;
    background-size: cover;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); */
    top: 78px;
    left: 200px;
}

/*---------------------------------------------------------navigation header------------------------------------------------------------*/

@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background: mistyrose;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.navigation div {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

.navigation a:hover {
  background: darken(mistyrose, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation  { 
    text-align: center; 
    padding: 10px; 
  }

  
  .navigation li:last-of-type  {
    border-bottom: none;
  }
}
/*---------------------------------------------------------boarder structure -----------------------------------------------------------*/
.wrapper {
    display: flex;
    position: relative; 
    flex-wrap:nowrap;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: left;
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    position: relative; 
    background: white;
  }
  
  .footer {
    position: relative; 
    background: mintcream;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
  }
  .pokaz{
    display:flex;
    position: relative; 
    flex-direction:column;
    margin-right: 10px;
    text-align: left;
    background:white;
  }
  .main {
    top:0px;
    min-height: 200px;
    text-align: center;
    position: relative; 
    background: cornsilk;
    color: #CD5C5C;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .main1{
    /* display:flex;
    top:0px;
    position: relative;  */
    text-align: left;
    /* background:white; */
    flex-direction:column;
    justify-content: center;
    margin: 10px;
    
  }
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .pokaz    { flex: 3 0px; }
    .aside-1 { order: 1;} 
    .pokaz    { order: 2;}
    .footer  { order: 3;}
  }
  /*---------------------------------------------------------main structure -----------------------------------------------------------*/
.edu
{
  text-align:center;
  margin: 20px 100px 20px 100px;
}
.tekst1  
{
  text-align:center;
  margin: 0px 100px 50px 110px;
}

  .insta-icon
  {
    display: block;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 720px;
    position:absolute;
    font-size: 30px;
    text-decoration: none;
    color: #CD5C5C;
  }

  .face-icon
  {
    display: block;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 670px;
    position:absolute;
    font-size: 30px;
    text-decoration: none;
    color: #CD5C5C;
  }

  .git-icon
  {
    display: block;
    width: 30px;
    height: 30px;
    bottom: 10px;
    left: 620px;
    position:absolute;
    font-size: 30px;
    text-decoration: none;
    color: #CD5C5C;
  }

/*------------------------------------------------------------main-1 structure -----------------------------------------------------------*/
.empty
{
    display: flex;
    flex-direction: row;
    position:relative;
    background-color:white;
    min-height: 10vh;
    
     
}
.study
{
    display: flex;
    flex-direction: row;
    position:relative;
    background-color:white;
    border-top: 3px solid mistyrose;
    min-height: 20vh;
}

.date
{
    display: flex;
    position:relative;
    border-right: 3px solid mistyrose;
    flex-grow: 5;
    max-width: 30vh;
    font-family: 'Raleway', sans-serif;
    color: #CD5C5C;
    text-align: center;
    flex-direction: column;
    justify-content: center; 
}
.info
{
    display: flex;
    position:relative;
    flex-grow: 10;
    max-width: 50vh;
    font-family: 'Raleway', sans-serif; 
    color: #CD5C5C;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    

}
.note
{
    display: block;
    position:relative;
    margin-left: 10vh;
    white-space: nowrap;
}
/*---------------------------------------------------------boarder structure -----------------------------------------------------------*/
  .aside 
  {
    display:flex;
    flex-direction:column;
    text-decoration: none;
    position: relative;  
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    background: mistyrose;
    font-family: 'Raleway', sans-serif;
    justify-content:flex-start;
    padding-bottom: 5px;
    column-gap: 10px;
}
.get
{
    display:block;
    position: relative;
    top: 20%;
    color: white;
    font-size:30px;
    font-family: 'Raleway', sans-serif;
}

.mylist
{
    display:block;
    position: relative;
    background-color: mistyrose;
    top:20%;
}

.links{
    display:flex;
    color: white;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-size:20px;
    margin-bottom:10px;
}
.links:hover 
{
    text-decoration: underline;
}