/*---------------------------------------------------------body -general settings -----------------------------------------------------*/

body
{
    background-color: #ffffff ; 
    text-align: center;
    padding: 2em;
    font-size:17px;  
}

/*---------------------------------------------------------- main - box ---------------------------------------------------------------*/

.border
{
position: relative;
height: 100%;
width: 100%;
background-color: #ffffff;
border: 0.7em solid #ffe4e1;
margin: auto;
box-sizing: border-box;
}

/*-------------------------------------------------------------profile photo-----------------------------------------------------------*/

.photo{
  position: absolute;
  z-index: 3;
  width: 11.5em;
  height: 11.5em;
  border: 0.4em solid #ffffff;
  border-radius: 13em;
  -webkit-border-radius: 13em;
  -moz-border-radius: 13em;
  background-image: url(images/face1.jpg);
  background-position: center;
  background-size: cover;
  top: 0.4%;
  left: -12%;
}

/*---------------------------------------------------------navigation header------------------------------------------------------------*/

@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0; 
  
  background: #ffe4e1;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
.navigation div {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
  }

.navigation a:hover {
  background: darken(#ffe4e1, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation  { 
    text-align: center; 
    padding: 2%; 
  }

  
  .navigation li:last-of-type  {
    border-bottom: none;
  }
}
/*---------------------------------------------------------boarder structure -----------------------------------------------------------*/
.wrapper {
    display: flex;
    position: relative; 
    flex-wrap:nowrap;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: left;
  }
  
  .wrapper > * {
    padding: 0.5em;
    flex: 1 100%;
  }
  
  .header {
    position: relative; 
    background: #ffffff;
  }
  
  .footer {
    position: relative; 
    background: #f5fffa;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom:0.5em;
  }
  .pokaz{
    display:flex;
    position: relative; 
    flex-direction:column;
    margin-right: 0.5em;
    text-align: left;
    background:#ffffff;
  }
  .main {
    min-height: 23.5%;
    text-align: center;
    position: relative; 
    background: #fff8dc;
    color: #CD5C5C;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .main1
  {
    margin: 0.5em;
    padding: 0em;
  }

  .aside 
  {
    display:flex;
    flex-direction:column;
    text-decoration: none;
    position: relative;  
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #ffffff;;
    background-color: #ffe4e1;
    font-family: 'Raleway', sans-serif;
    justify-content: flex-start;
  }

  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .pokaz    { flex: 3 0px; }
    .aside { order: 1;} 
    .pokaz    { order: 2;}
    .footer  { order: 3;}
  }
  /*---------------------------------------------------------main structure -----------------------------------------------------------*/
  .edu
  {
    text-align:center;
    margin: 6% 14% 0% 14%;
  }
  .tekst1  
  {
    text-align:center;
    margin: 1% 14% 6% 14%;
  }

  .insta-icon
  {
    display: block;
    bottom: 3%; 
    left: 93%;
    position:absolute;
    margin-right:2%;
    font-size: 2em;
    text-decoration: none;
    color: #CD5C5C;
  }

  .face-icon
  {
    display: block;
    bottom: 3%;
    left: 86%;
    position:absolute;
    margin-right:2%;
    font-size: 2em;
    text-decoration: none;
    color: #CD5C5C;
  }

  .git-icon
  {
    display: block;
    bottom: 3%;
    left: 79%;
    position:absolute;
    margin-right:2%;
    font-size: 2em;
    text-decoration: none;
    color: #CD5C5C;
  }

/*------------------------------------------------------------main-1 structure -----------------------------------------------------------*/
.element
{
  position: relative;
  margin: auto;
  text-align:center;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #ffe4e1;
  border-radius: 100vh;
  height: 100vh;
  width: 100vh;
}

.inner-element
{
  position: relative;
  margin: auto;
  top: 25%;
  background-color: #ffffff;
  border-radius: 50vh;
  height: 50vh;
  width: 50vh;
  text-align:center;
}
.line
{
  position:relative;
  border-left: 0.5em solid #E0FFFF;
  height: 100vh;
  width: 0;
  margin-left: 50%;
  bottom:50%;
}

.inner-element p
{
  position:relative;
  margin:auto;
  white-space: pre;
  font-size: 1.1em;
  bottom:153%;
  font-family: 'Raleway', sans-serif;
  color: #CD5C5C;
}

.hard
{
  position: absolute;
  margin:auto;
  z-index:5;
  font-family: 'Raleway', sans-serif;
  color: #CD5C5C;
  font-size: 1.1em;
}
#hard0
{
  left:22%;
  top: 15%;
}

#hard1
{
  left:7%;
  top: 30%;
}

#hard2
{
  left:7%;
  top: 45%;
}

#hard3
{
  left:7%;
  top: 60%;
}

#hard4
{
  left:10%;
  top: 75%;
}

#soft1
{
  right: 20%;
  top: 10%;
  font-size:18px;
}
#soft2
{
  right: 11%;
  top: 22%;
  font-size:18px;
}
#soft3
{
  right: 2%;
  top: 35%;
  font-size:18px;
}
#soft4
{
  right: 5%;
  top: 55%;
  font-size:18px;
}
#soft5
{
  right: 10%;
  top: 74%;
  font-size:18px;
}
#soft6
{
  right: 28%;
  top: 85%;
  font-size:18px;
}

.legend
{
  display: block;
  position:relative;
  margin-bottom: 4%;
  text-align: right;
  white-space: pre;
  font-family: 'Raleway', sans-serif;
  color: #CD5C5C;
  font-size: 0.9em;

}

/*---------------------------------------------------------aside structure -----------------------------------------------------------*/

.get
{
  display:block;
  position: relative;
  color: #ffffff;
  font-size:1.8em;;
  top:20%;
  font-family: 'Raleway', sans-serif;
}
.mylist
{
  display:block;
  position: relative;
  top:20%;
}
.links{
    display:flex;
    color: #ffffff;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    font-size:1.2em;
    margin-bottom:0.5em;
}

.links:hover
{
    text-decoration: underline;
}