*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: "Roboto Cn", sans-serif;
    color: #eee;
    width: 100vw;
}

a{
    text-decoration: none;
    color: #eee;
}

header{
    width: 100vw;
    height: 15vh;
}

body{
    overflow-x: hidden;
    background-color: #feda6a;
    background-size: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}


.menu-toggle{
	position: fixed;
	top: 5%;
	right: 15%;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

.container{
    /*max-width: 120rem;*/
    width: 100%;
    margin: 0 auto;
    position: fixed;
    box-sizing: border-box;
    padding: 15px;
    background-color:rgba(245,184,46,0.9);
    z-index: 1000;

}

nav{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.brand{
    font-size: 3rem;
    font-weight: 300;
    transform: translate(-100rem);
    animation: slideIn .5s forwards;
}



nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    animation: slideIn .5s forwards;
    transform: translate(100rem);
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}

nav ul li:nth-child(2){
    animation-delay: .5s;
}

nav ul li:nth-child(3){
    animation-delay: 1s;
}

nav ul li:nth-child(4){
    animation-delay: 1.5s;
}



nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    z-index:100;
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFD131;
    left: 0; 
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
}

.overlay{
    background-color: rgba(245,184,46,0.9);
    z-index:100;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    width: 90%;
    margin: 0 auto;
    height: 85vh;
    font-family: 'Beth Ellen', cursive;
    font-size: 4rem;
    color:white;
}

#home span span{
    color: #D72638;
}

#chicken{
    position: relative;
    /*transform: translate(-50%, -50%);*/
    width:200px;
    height:200px;
    cursor:pointer;
}

#bg{
    position:absolute;
    top:0;
    left:0;
    transform: translate(-50%, -50%);
    transform:rotate(45deg);
    transition:.5s;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #d83231;
    border-left-color:#DB3E3D;
    border-width: 100px;
    border-style:solid;
}  

#md{
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    transform:rotate(45deg);
    transition:.5s;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: #F8D245;
    border-bottom-color: #f2f2f2;
    border-left-color:#FFFFFF;
    border-width: 80px;
    border-style: solid;
}

#sm{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform:rotate(45deg);
    transition:.5s;
    border-radius: 50%;
    border-right-color: #F7A703;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color:transparent;
    border-width: 40px;
    border-style: solid;
}

#sm:before{
    position: absolute;
    content:"";
    width: 20px;
    height:20px;
    top:-10px;
    left:-40px;
    border-radius:50%;
    background:#000;
}

#chicken:hover #bg, #chicek:focus #bg{
    transform: rotate(225deg);
}

#chicken:hover #md, #chicek:focus #md{
    transform: rotate(-135deg);
    border-right-color: #F8D245;
    border-top-color: transparent;
  }

  #chicken:hover #sm, #chicek:focus #sm{
    transform: rotate(135deg);
    border-right-color: #ea9e02;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

#education{
    height: 100vh;
    }
#education h1{
    font-size: 4.5rem;
    color: #eee;
    text-align: center;
}

#education h1 span{
    color: #D72638;
}
.timeline{
    position:relative;
    margin:0 auto;
    padding:40px 0;
    width:1000px;
    box-sizing:border-box;
    height: 85%;
}
.timeline:before{
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    bottom: 0.1%;
    background:#50A2A7;
}
.timeline ul{
    padding:0;
    margin:0;
}
.timeline ul li{
    list-style:none;
    position:relative;
    width:50%;
    padding:10px 20px;
    box-sizing:border-box;
    font-size: 1.3rem;
    background-color: #F4AC32;
    border-radius: 10%;
    margin-top: 5%;
}
.timeline ul li:nth-child(odd){
    float:left;
    text-align:right;
    clear:both;
}
.timeline ul li:nth-child(even){
    float:right;
    text-align:left;
    clear:both;
}
.content{
    padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:#FFD131;
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(255,209,49,0.2);
}
.timeline ul li:nth-child(even):before
{
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:#FFD131;
    border-radius:50%;
    box-shadow:0 0 0 3px rgba(255,209,49,0.2);
}
.timeline ul li p{
    margin:10px 0 0;
    padding:0;
    color: #eee;
}
.timeline ul li .time h4{
    margin:0;
    padding:0;
    font-size:14px;
}
.timeline ul li:nth-child(odd) .time{
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background: #FFD131;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(255,209,49,0.2);
}
.timeline ul li:nth-child(even) .time{
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background: #FFD131;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px rgba(255,209,49,0.2);
}

#about{
      height: 90vh;
      width: 100%;
}

#about h1{
      font-size: 6rem;
      color:#eee;
      text-align: center;
}

.box{
      display:flex;
      height: 100%;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      flex-direction: row-reverse;
}

#my_image_front{
      width:25%;
      height:70%;
      position:relative;
}

#my_image_front img{
  width:100%;
  height: 100%;
  transform: rotateX(0deg);
  transition: 1s;
  backface-visibility: hidden;
}

#my_image_back{
  display:flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(80,162,167);
  transform: rotateX(180deg);
  color:lightgrey;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 1s;
  flex-direction: column;
  line-height: 3rem;
}

#my_image_back span{
    font-size: 3rem;
    line-height: 5rem;
}
/*
#my_image_back::before{
    content:'';
    position:absolute;
    top:0;
    width:50%;
    height: 100%;
    left:0;
    overflow: hidden;
    background: rgba(255,255,255,0.1);
} */
#my_image_front:hover img{
  transform: rotateX(180deg);
}

#my_image_front:hover #my_image_back{
    transform: rotateX(0deg);
}
#my_description{
      width:55%;
      height: 70%; 
      font-size:3rem;
      background-color: #F4AC32;
      box-sizing: border-box;
      padding: 15px;

}

#socials{
    font-size:2.4rem;
}

 #fb:hover{
    color: blue;
}

 #tw:hover{
    color: cornflowerblue;
}

 #ig:hover{
    color:purple;
}
#contact{
    text-align: center;
    height: 50%;
    width: 100%;
    line-height: 4.7rem;
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    
    position: relative;
}

#contact h1{
    font-size: 5rem;
    line-height: 8rem;
}

#sNetworks{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#sNetworks > *{
    margin-left: 30px;
}

#big_container{
    display: flex;
    flex-direction: column;
}

@media(max-width:1000px){

    .container{
        height: 15%;
    }

    .timeline{
      width:100%;
    }

    html{
        font-size: 10px;
    }

    #home{
        font-size:2.3rem;
    }

    
    .menu-toggle{
        display: block;
        z-index: 100000;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }

  .box{
      flex-direction: column;
      min-height: 100vh;
  }

  #my_image_front{
      width: 90%;
      height: 100vh;
  }

  #my_image_front img{
      height: 100%;
  }
  #my_description{
      margin-top: 25px;
      width: 90%;

  }

  #contact{
      margin-top: 250px;
  }
 
  #about{
      margin-top: 90px;
  }

   

  
}


@media(max-width:767px){


    .timeline{
      width:100%;
      padding-bottom:0;
    }
    h1{
      font-size:40px;
      text-align:center;
    }
    .timeline:before{
      left:20px;
      height:100%;
    }
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even){
      width:100%;
      text-align:left;
      padding-left:50px;
      padding-bottom:50px;
    }
    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before{
      top:-18px;
      left:16px;
    }
    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time{
      top:-30px;
      left:50px;
      right:inherit;
    }
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}


