$color-primary: rgb(136, 16, 88);
$color-secondary: rgb(45, 67, 137);
$color-bck: rgb(255, 255, 255);
$color-text: rgb(0, 0, 0);
$color-grey-dark: rgb(51, 51, 51);
$color-grey-light: rgb(224, 224, 224);
$color-animation-squares: rgba(255, 255, 255, 0.3);
$color-box-shadow: rgba(0, 0, 0, 0.3);
$color-box-shadow-lighter: rgba(0, 0, 0, 0.2);
